<div class="container">
  <div class="col-md-4">
  <%= image_tag @book.image_url ,class: "book-show",
class:"img-rounded" ,class: "add" if @book.image? %>
   
   <div class="col-md-8">

<h3>Book Name:<b><%= @book.title %></b></h3>
<h3><b>Book Author:</b><%= @book.author %></h3>

<b>Reviews Count: </b> <span class="badge"><%= @book.reviews.count %></span></a><br>
<p><b>Description:</b><%= @book.description %></p>

</div>
</div>
<div class="links btn-group">
<%= link_to ">>Back",books_path ,class: "btn btn-custom",class: "btn btn-primary"%>

</div>
<div class="row">
   <div class="col-md-4">
     <%= render @book.reviews %>
 <div>
  <%= link_to "Add Review",new_book_review_path(@book) %>
  </div>
 </div>



 

</div>
 </div> 
<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function()
		{
			return $(this).attr('data-score');
		},

	});
</script>

